:root {
  --mainFont: 'Josefin Sans', sans-serif;
  --mainInputColour: #2B9494;
  --mainInputColourVariant: #2B8181;
  --mainInputHeadingColour: #808080;
  --mainBackgroundColour: #D1FFFF;
  --mainInputContrastColour: white;
  --mainButtonPressColour:  #116868;
}

