.page , .footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 3%;
}

.nextButton, .backButton {
  background-color: dodgerblue;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}

.button a {
  text-decoration: none;
}

.selectOption {
  display: flex;
  flex-flow: column wrap;
}

input, select {
  border: 5px solid dodgerblue;
  border-radius: 12px;
}

input.quantity {
  text-align: center;
  font-size: 1.5rem;
  width: 5rem;
}